body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#program-listing-table {
  border-collapse: collapse;
}

#program-listing-table td {
  padding: 0.5em 1em;
  border: 1px solid #7f7f7f7f;
}

.tile-part-line-number {
  text-align: right;
}

.tile-part-labels {
  font-family: monospace;
  text-align: right;
  white-space: pre;
}

.tile-part-comment {
  font-family: monospace;
  color: #000000bf;
}

.tile-part-comment.present::before {
  content: ";";
  font-size: 18pt;
  color: #0000003f;
  display: inline;
  position: relative;
  top: 0.15em;
  /* margin-right: -5px; */
}
