#code-editor-pane {
  width: 50%;
  flex-grow: 1;
  min-width: 200px;
  border-left: var(--generic-border);
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

#code-editor-pane:not(.active) {
  display: none;
}

#code-editor-basic {
  resize: none;
}

#code-editor-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  min-height: 0;
}

#code-editor-buttons {
  background-color: var(--accent-color2);
  display: flex;
  padding: 0.5rem 1rem;
}
