@keyframes dialog-opening-anim {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes dialog-closing-anim {
  from {
    transform: scale(100%);
    opacity: 1;
  }
  to {
    transform: scale(75%);
    opacity: 0;
  }
}

@keyframes dialog-backdrop-opening-anim {
  from {
    background-color: #00000000;
    backdrop-filter: blur(0);
  }
  to {
    background-color: #0000007f;
    backdrop-filter: blur(0.5rem);
  }
}

@keyframes dialog-backdrop-closing-anim {
  from {
    background-color: #0000007f;
    backdrop-filter: blur(0.5rem);
  }
  to {
    background-color: #00000000;
    backdrop-filter: blur(0);
  }
}

dialog {
  display: flex;
  position: fixed;
  inset: 0;
  /* margin: 2rem; */
  padding: 1rem 2rem;
  box-sizing: border-box;
  border: #0000007f 2px solid;
  border-radius: 0.5rem;
  user-select: none;
  opacity: 0;
}

dialog:open {
  animation: dialog-opening-anim 0s var(--ease-out-expo) forwards;
}

dialog:not(:open) {
  animation: dialog-closing-anim 0s var(--ease-out-expo) forwards;
  pointer-events: none;
}


dialog:open::backdrop {
  animation: dialog-backdrop-opening-anim 0s var(--ease-out-expo) forwards;
}

dialog:not(:open)::backdrop {
  animation: dialog-backdrop-closing-anim 0s var(--ease-out-expo) forwards;
  /* TODO: this doesn't work (yet?) but whatever */
}

body.animations-enabled dialog:not(:open),
body.animations-enabled dialog:open,
body.animations-enabled dialog:not(:open)::backdrop,
body.animations-enabled dialog:open::backdrop {
  animation-duration: 0.5s;
}

dialog h1 {
  margin-block: 0.5rem;
}

dialog h3 {
  color: gray;
  font-weight: 400;
}

@import url(load-file.module.css);
@import url(settings.module.css);
@import url(about.module.css);
@import url(chart.module.css);
