dialog {
  /* margin: 2rem; */
  padding: 1rem 2rem;
  box-sizing: border-box;
  border: #0000007f 2px solid;
  border-radius: 0.5rem;
  user-select: none;
}

dialog:open::backdrop {
  background-color: #0000003f;
}

dialog h1 {
  margin-block: 0.5rem;
}

dialog h3 {
  color: gray;
  font-weight: 400;
}

@import url(load-file.module.css);
@import url(settings.module.css);
@import url(about.module.css);
@import url(chart.module.css);
