@keyframes scale-down {
  to {
    transform: scale(75%)
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(100%)
  }
}

dialog {
  display: block;
  /* margin: 2rem; */
  padding: 1rem 2rem;
  box-sizing: border-box;
  border: #0000007f 2px solid;
  border-radius: 0.5rem;
  user-select: none;
}

body.animations-enabled dialog {
  transition: opacity 0.5s var(--ease-out-expo);
}

body.animations-enabled dialog:not(:open) {
  animation: scale-down 0.5s var(--ease-out-expo) forwards;
}

dialog:open {
  animation: slide-in-up 0.0s var(--ease-out-expo) forwards;
}

body.animations-enabled dialog:open {
  animation-duration: 0.5s;
}

dialog:not(:open) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: #0000003f;
  backdrop-filter: blur(0.25rem);
}

dialog h1 {
  margin-block: 0.5rem;
}

dialog h3 {
  color: gray;
  font-weight: 400;
}

@import url(load-file.module.css);
@import url(settings.module.css);
@import url(about.module.css);
@import url(chart.module.css);
