header {
  background-color: var(--accent-color);
  height: 3rem;
  padding: 0.5rem 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  gap: 1rem;
}

header > div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: baseline;
}

header a {
  color: #fff;
}

header a:hover {
  color: #ddd;
}

.version-header {
  margin-left: 0.5rem;
  font-weight: 400;
  font-size: 12pt;
}

.version-header a {
  color: #ffffff7f;
  text-decoration: none;
}

.version-header a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.header-right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0;
  text-align: right;
  align-items: end;
}

.header-right ul {
  display: inline;
  padding: 0;
  margin: 0;
}

.header-right li {
  display: inline list-item;
  list-style-type: none;
}

.header-right li + li {
  list-style-type: disc;
}

.header-right li + li::marker {
  content: " • ";
}
