main {
  flex-grow: 1;
  min-height: 0;
  /* overflow-y: hidden; */

  display: flex;
  flex-flow: column;
}

#panes {
  flex-grow: 1;
  min-height: 0;

  display: flex;
  flex-direction: row;
  position: relative;
}

@import url(tape.module.css);
@import url(register-list-pane.module.css);
@import url(program-listing-pane.module.css);
@import url(status-pane.module.css);
@import url(code-editor-pane.module.css);
