main {
  flex-grow: 1;
  min-height: 0;
  /* overflow-y: hidden; */

  display: flex;
  flex-flow: column;
}

#panes {
  flex-grow: 1;
  min-height: 0;

  display: flex;
  flex-direction: row;
  position: relative;
}

#register-pane {
  min-width: 150px;
  width: 15%;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

#program-listing-pane {
  width: 50%;
  flex-grow: 1;
  min-width: 200px;
  border-left: var(--generic-border);

  /* min-height: 0; */
  overflow-x: scroll;
  overflow-y: scroll;
}

#program-text-editor-pane {
  width: 50%;
  flex-grow: 1;
  min-width: 200px;
  border-left: var(--generic-border);

  display: flex;
  flex-direction: column;
}

@import url(input-tape.module.css);
@import url(register-list.module.css);
@import url(program-listing.module.css);
@import url(editor.module.css);
