#main-panes {
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: stretch;
  align-items: stretch;
}

.main-pane {
  width: 50%;
  border-left: 1px solid #7f7f7f7f;

  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.pane-scroll-h {
  overflow-x: scroll;
}

.pane-scroll-v {
  overflow-y: scroll;
}

#register-pane {
  min-width: 200px;
  max-width: 400px;
}
