#program-listing-table {
  border-collapse: collapse;
  transform-origin: center top;
  border-bottom: var(--generic-border);
  overflow-y: auto;
}

#program-listing-table col:nth-child(1) {
  min-width: 40px;
}

#program-listing-table col:nth-child(2) {
  min-width: 150px;
  width: 250px;
}

#program-listing-table col:nth-child(3) {
  min-width: 100px;
  width: 450px;
}

#program-listing-table col:nth-child(4) {
  min-width: 200px;
  width: 800px;
}

#program-listing-table td,
#program-listing-table th {
  padding: 0.3rem 0.6rem;
  border-width: 0;
  border-bottom: var(--generic-border);
}

#program-listing-table .sticky-row {
  position: sticky;
  top: 1px;
  background: #ffffffdf;
  /* outline: var(--generic-border); */
  box-sizing: border-box;
  transform: translateY(-2px);
  z-index: 10;
}

#program-listing-table tr:nth-child(even):not(:has(.tile-part-comment.big)) {
  background-color: #eeeeee;
}

#program-listing-table td#instruction {
  word-break: break-all;
}

.tile-part-line-number {
  text-align: right;
}

.tile-part-labels {
  font-family: monospace;
  text-align: right;
  white-space: pre;
}

.tile-part-comment {
  font-family: monospace;
  color: #008000;
  white-space: preserve-breaks;
  padding-left: 1rem;
  top: -0.3rem;
  position: relative;
}

.tile-part-comment.present::before {
  content: ";";
  font-size: 18pt;
  color: #0000003f;
  /* color: #0080007f; */
  font-weight: 100;
  display: inline;
  position: relative;
  top: 0.25rem;
  right: 1rem;
  margin-right: -1rem;
  z-index: 1;
}

.tile-part-comment.big {
  /* text-align: center; */
  /* margin: auto; */
  width: fit-content;
}
