#program-listing-pane > div {
  /* padding: 1rem; */
  width: fit-content;
}

#program-listing-table {
  border-collapse: collapse;
  transform-origin: center top;
  border-bottom: var(--generic-border);
}

#program-listing-table col:nth-child(1) {
  min-width: 40px;
}

#program-listing-table col:nth-child(2) {
  min-width: 150px;
  width: 250px;
}

#program-listing-table col:nth-child(3) {
  min-width: 250px;
  width: 350px;
}

#program-listing-table col:nth-child(4) {
  min-width: 100px;
  width: 500px;
}

#program-listing-table td,
#program-listing-table th {
  padding: 0.5rem 1rem;
  border-width: 0;
  border-bottom: var(--generic-border);
}

#program-listing-table .sticky-row {
  position: sticky;
  top: 1px;
  background: #ffffffdf;
  /* outline: var(--generic-border); */
  box-sizing: border-box;
  transform: translateY(-2px);
}

#program-listing-table tr:nth-child(even):not(:has(.tile-part-comment.big)) {
  background-color: #eeeeee;
}

#program-listing-table #instruction {
  word-break: break-all;
}

.tile-part-line-number {
  text-align: right;
}

.tile-part-labels {
  font-family: monospace;
  text-align: right;
  white-space: pre;
}

#program-listing-table .tile-part-comment {
  font-family: monospace;
  color: #000000bf;
  white-space: preserve-breaks;
  padding-left: 1rem;
}

.tile-part-comment.present::before {
  content: ";";
  font-size: 18pt;
  color: #0000003f;
  display: inline;
  position: relative;
  top: 0.15rem;
  right: 1rem;
  margin-right: -1rem;
}

.tile-part-comment.big {
  /* text-align: center; */
  /* margin: auto; */
  width: fit-content;
}
