#register-pane {
  min-width: 150px;
  width: 15%;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

body.animations-enabled #register-pane {
  transition: 0.5s width var(--ease-out-expo), 0.5s min-width var(--ease-out-expo), 0.5s max-width var(--ease-out-expo);
}

#register-pane:not(.active) {
  width: 0;
  min-width: 0;
  max-width: 0;
}

#register-scroll-list-container {
  flex-grow: 1;
  overflow-y: hidden;
}

#register-scroll-list .scroll-list-element {
  width: 100%;
}

.register-scroll-list-row {
  height: 30px;
  min-width: fit-content;
  padding: 0 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-top: var(--generic-border);
  box-sizing: border-box;
  cursor: default;
  transform-origin: right; /* This is a workaround to prevent the horizontal scroll-bar from appearing during scale animations - it will not appear if the element overflows only to the left */
}

body.animations-enabled .register-scroll-list-row {
  transition: 0.5s background-color var(--ease-out-expo);
}

.register-scroll-list-row.odd {
  background-color: var(--accent-color3);
}

.register-scroll-list-row.even {
  background-color: #ffffff;
}

.register-scroll-list-row.odd:hover {
  background-color: var(--accent-color3-hover);
}

.register-scroll-list-row.even:hover {
  background-color: #dfdfdf;
}

.register-scroll-list-row .register-index {
  width: 60px;
  text-align: right;
}

.register-scroll-list-row .register-value.uninitialized {
  color: gray;
  font-style: italic;
  font-size: 8pt;
}
