#register-scroll-list-container {
  flex-grow: 1;
  overflow-y: hidden;
}

.scroll-list-element {
  width: 100%;
}

.register-scroll-list-row {
  height: 30px;
  min-width: fit-content;
  padding: 0 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border-top: var(--generic-border);
  box-sizing: border-box;
  transition: 0.2s background-color;
  cursor: default;
}

.register-scroll-list-row.odd {
  background-color: var(--accent-color3);
}

.register-scroll-list-row.even {
  background-color: #ffffff;
}

.register-scroll-list-row.odd:hover {
  background-color: var(--accent-color3-hover);
}

.register-scroll-list-row.even:hover {
  background-color: #dfdfdf;
}

.register-scroll-list-row .register-index {
  width: 60px;
  text-align: right;
}

.register-scroll-list-row .register-value.uninitialized {
  color: gray;
  font-style: italic;
}
