#status-pane {
  width: 30%;
  flex-grow: 1;
  min-width: 250px;

  border-left: var(--generic-border);
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;

  overflow-x: auto;
  overflow-y: auto;
}

#status-pane:not(.active) {
  display: none;
}

#status-pane h1,
#status-pane h2,
#status-pane h3 {
  margin-block: 0;
  margin-bottom: 1rem;
}
