#status-pane {
  width: 25%;
  flex-grow: 1;
  min-width: 200px;
  border-left: var(--generic-border);
  background-color: #fff;

  overflow-x: auto;
  overflow-y: scroll;
}

#status-pane:not(.active) {
  display: none;
}
