<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title><%= t.pageTitle %></title>
    <script>
      window.currentLanguage = "<%= lang %>";
    </script>
  </head>

  <body>
    <div id="whole-screen">
      <header>
        <div>
          <h1 class="title-header"><%= t.header.title %></h1>
          <h3 class="version-header">
          <a href="https://github.com/lucjanzak/ram-machine/commit/<%= gitCommitHash %>" target="_blank" title="View git commit <%= gitCommitHash %>">v<%= displayedVersion %></a>
          </h3>
        </div>
        <div class="header-right">
          <div>
            <%= t.header.language %>
            <ul>
            <% _.forEach(languageInfo, function(lang) { %><li><% print('<a href="app_' + lang.key + '.html">' + lang.displayName + '</a>') %></li><% }); %>
            </ul>
          </div>
        <div style="display: none;"><%= t.header.author %> <a href="https://lucjanzak.github.io" target=" _blank">Lucjan Żak</a></div>
        </div>
      </header>
      <nav>
        <div class="nav-buttons">
          <button id="new-program-button" class="nav-button nav-button-auto"><%= t.nav.new %></button>
          <button id="load-program-button" class="nav-button nav-button-auto"><%= t.nav.load %></button>
          <button id="save-program-button" class="nav-button nav-button-auto"><%= t.nav.save %></button>
          <button id="settings-button" class="nav-button nav-button-auto"><%= t.nav.settings %></button>
        </div>
        <div class="nav-buttons">
          <button id="clear-input-tape-button" class="nav-button nav-button-auto"><%= t.nav.clearInputTape %></button>
          <button id="edit-input-tape-button" class="nav-button nav-button-auto"><%= t.nav.editInputTape %></button>
        </div>
        <div class="nav-buttons">
          <button id="run-all-button" class="nav-button nav-button-auto"><%= t.nav.run %></button>
          <button id="reset-button" class="nav-button nav-button-auto"><%= t.nav.reset %></button>
          <button id="continue-button" class="nav-button nav-button-auto"><%= t.nav.debugContinue %></button>
          <button id="step-button" class="nav-button nav-button-auto"><%= t.nav.debugStep %></button>
        </div>
        <div class="nav-buttons" id="view-buttons">
          <button id="view-register-pane-button" class="nav-button nav-button-auto"><%= t.nav.viewRegisterPane %></button>
          <button id="view-program-listing-pane-button" class="nav-button nav-button-auto"><%= t.nav.viewProgramListingPane %></button>
          <button id="view-status-pane-button" class="nav-button nav-button-auto"><%= t.nav.viewStatusPane %></button>
          <button id="view-code-editor-pane-button" class="nav-button nav-button-auto"><%= t.nav.viewCodeEditorPane %></button>
        </div>
        <div class="nav-buttons">
          <button id="charts-button" class="nav-button nav-button-auto"><%= t.nav.charts %></button>
          <button id="about-button" class="nav-button nav-button-auto"><%= t.nav.about %></button>
        </div>
      </nav>
      <main>
        <div>
          <section class="input-tape-pane">
          <span class="centered-text"><% print(t.inputTape.header + '<span id="input-tape-length">0</span>' + t.inputTape.headerEnd) %></span>
            <div id="input-tape-container">
              <div id="input-tape"></div>
            </div>
          </section>
        </div>
        <div id="panes">
          <section id="register-pane">
            <!-- registers here -->
            <!-- TODO(optional): r0 is updated very often, it should be sticky at the top. this is not completely trivial to do because it is currently in a scrolllist so i don't want to do it yet -->
            <span class="centered-text"><%= t.registers.header %> </span>
            <!-- <div id="pinned-register-row">pinned</div> -->
            <div id="register-scroll-list-container">
              <div id="register-scroll-list"></div>
            </div>
          </section>
          <div id="central-panes">
            <div id="central-panes-background">
              <%= t.panes.background %>
            </div>
            <section id="program-listing-pane">
              <table id="program-listing-table">
                <colgroup>
                  <col />
                  <col />
                  <col />
                  <col />
                </colgroup>
                <thead>
                  <tr class="sticky-row">
                    <th><%= t.programListing.tableHeader.line %></th>
                    <th><%= t.programListing.tableHeader.label %></th>
                    <th><%= t.programListing.tableHeader.instruction %></th>
                    <th><%= t.programListing.tableHeader.comment %></th>
                  </tr>
                </thead>
                <tbody id="program-listing"></tbody>
              </table>
            </section>
            <section id="status-pane">
              <div>
                <h3><%= t.status.title %></h3>
                <span><%= t.status.status.title %></span>
                <table id="status-table">
                  <colgroup>
                    <col />
                    <col />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th><%= t.status.status.machineState %></th>
                      <td id="status-machine-state"></td>
                    </tr>
                    <tr>
                      <th><%= t.status.status.programCounter %></th>
                      <td id="status-program-counter"></td>
                    </tr>
                    <tr>
                      <th><%= t.status.status.realTime %></th>
                      <td id="status-real-time"></td>
                    </tr>
                    <tr>
                      <th><%= t.status.status.averageSpeed %></th>
                      <td id="status-average-speed"></td>
                    </tr>
                    <tr>
                      <th><%= t.status.status.memoryComplexity %></th>
                      <td id="status-memory-complexity"></td>
                    </tr>
                    <tr>
                      <th><%= t.status.status.memoryComplexityLog %></th>
                      <td id="status-memory-complexity-log"></td>
                    </tr>
                    <tr>
                      <th><%= t.status.status.timeComplexity %></th>
                      <td id="status-time-complexity"></td>
                    </tr>
                    <tr>
                      <th><%= t.status.status.timeComplexityLog %></th>
                      <td id="status-time-complexity-log"></td>
                    </tr>
                  </tbody>
                </table>
                <span><%= t.status.runtime.title %></span>
                <div id="runtime-error-container"></div>
                <hr>
                <span><%= t.status.compilation.title %></span>
                <div id="compile-errors-container"></div>
                <hr>
                <span><%= t.status.stats.title %></span>
                <table id="stats-table">
                  <thead>
                    <th><%= t.status.stats.instruction %></th>
                    <th><%= t.status.stats.count %></th>
                  </thead>
                  <tbody id="stats-body"></tbody>
                </table>
              </div>
            </section>
            <section id="code-editor-pane">
              <div id="code-editor-container"></div>
              <div id="code-editor-buttons">
                <div  class="nav-buttons">
                  <button class="nav-button nav-button-auto" id="compile-button"><%= t.editor.buttons.compile %></button>
                  <button class="nav-button nav-button-auto" id="compile-and-run-button"><%= t.editor.buttons.compileAndRun %></button>
                </div>
                <div id="show-problems-button"></div>
              </div>
            </section>
          </div>
        </div>
        <div>
          <section class="output-tape-pane">
          <span class="centered-text"><% print(t.outputTape.header + '<span id="output-tape-length">0</span>' + t.outputTape.headerEnd) %></span>
            <div id="output-tape-container">
              <div id="output-tape"></div>
            </div>
          </section>
        </div>
      </main>
    </div>

    <div style="display: none;">
      <section>
        Infinite scrolling test:
        <div id="big-scroll-list-test"></div>
      </section>
    </div>

    <template id="instruction-tile">
      <tr>
        <td id="line-number" class="tile-part-line-number"></td>
        <td id="labels" class="tile-part-labels"></td>
        <td id="instruction"></td>
        <td>
          <div id="comment" class="tile-part-comment"></div>
        </td>
      </tr>
    </template>

    <template id="comment-tile">
      <tr>
        <td></td>
        <td colspan="3">
          <div id="comment" class="tile-part-comment present big"></div>
        </td>
      </tr>
    </template>

    <template id="stats-row">
      <tr>
        <td id="instruction" class="text-align-right"></td>
        <td id="count"></td>
      </tr>
    </template>

    <template id="register-row">
      <div class="register-scroll-list-row" id="register-scroll-list-row">
      <span class="register-index">
        r<sub id="index">?</sub>:
      </span>
        <span id="value" class="register-value"></span>
      </div>
    </template>

    <template id="input-tape-cell">
      <div class="input-tape-scroll-list-cell" id="input-tape-scroll-list-cell">
        <span class="input-tape-cell-index"><% print(t.inputTape.cellLabel + '<span id="index">?</span>' + t.inputTape.cellLabelEnd) %></span>
        <input type="text" id="value" class="input-tape-cell-value" value="0" step="1" />
      </div>
    </template>

    <template id="output-tape-cell">
      <div class="output-tape-scroll-list-cell" id="output-tape-scroll-list-cell">
        <span class="output-tape-cell-index"><% print(t.outputTape.cellLabel + '<span id="index">?</span>' + t.outputTape.cellLabelEnd) %></span>
        <input type="text" id="value" class="output-tape-cell-value" value="0" step="1" disabled />
      </div>
    </template>

    <template id="big-scroll-list-test-row">
      <div>
        Hello world <span id="number">number</span>
      </div>
    </template>

    <template id="status-box">
      <div class="status-box"><span class="title"></span><span class="message"></span></div>
    </template>

    <template id="compiler-message">
      <div class="compiler-message">
        <span class="title"></span>
        <span class="message"></span>&nbsp;
        <span class="error-id"></span>&nbsp;
        <span class="line-location"></span>
        <div class="clear-both"></div>
      </div>
    </template>

    <dialog id="load-file">
      <div>
        <h1><%= t.loadFile.header %></h1>
      </div>
      <div>
        <span><%= t.loadFile.loadExample %></span>
        <br>
        <div class="nav-buttons nav-buttons-light" id="load-program-buttons"></div>
        <br>
        <hr>
        <br>
      </div>
      <div>
        <span><%= t.loadFile.loadFromFile %></span>
        <br>
        <label id="load-file-drop-zone">
          <%= t.loadFile.dropZoneHint %>
          <input type="file" id="load-file-input" accept=".ram,text/*" />
        </label>
      </div>
      <div>
        <span><%= t.loadFile.loadedData %></span>
        <br>
        <textarea id="load-file-textarea-preview" disabled></textarea>
      </div>
      <div>
        <div id="load-file-status-container"></div>
      </div>
      <div class="load-file-buttons">
        <button id="load-file-confirm"><%= t.loadFile.load %></button>
        <button id="load-file-cancel"><%= t.loadFile.cancel %></button>
      </div>
    </dialog>

    <dialog id="save-file">
      <div>
        <h1><%= t.saveFile.header %></h1>
      </div>
      <div>
        <span><%= t.saveFile.filePreview %></span>
        <br>
        <textarea id="save-file-textarea-preview" disabled cols="80" rows="20"></textarea>
      </div>
      <div class="save-file-filename-container">
        <label for="save-file-filename"><%= t.saveFile.fileName %></label>
        <input id="save-file-filename" value="<%= t.saveFile.defaultFileName %>" placeholder="<%= t.saveFile.defaultFileName %>">
      </div>
      <div>
        <input type="checkbox" id="save-file-include-tape">
        <label for="save-file-include-tape"><%= t.saveFile.includeTape %></label>
        <br>
        <input type="checkbox" id="save-file-include-settings">
        <label for="save-file-include-settings"><%= t.saveFile.includeSettings %></label>
      </div>
      <div class="save-file-buttons">
        <button id="save-file-confirm"><%= t.saveFile.save %></button>
        <button id="save-file-cancel"><%= t.saveFile.cancel %></button>
      </div>
    </dialog>

    <dialog id="settings">
      <form id="settings-form">
      <h1><%= t.settings.header %></h1>
        <div id="settings-layout">
          <div>
          <h3><%= t.settings.sections.machineEmulation %></h3>
            <fieldset>
            <legend><%= t.settings.inputTapeUnderflow.legend %></legend>
              <div>
              <input type="radio" id="input-tape-underflow-error" name="input-tape-underflow-behavior" value="error" />
              <label for="input-tape-underflow-error"><%= t.settings.inputTapeUnderflow.error %></label>
              </div>
              <div>
              <input type="radio" id="input-tape-underflow-zero" name="input-tape-underflow-behavior" value="zero" />
              <label for="input-tape-underflow-zero"><%= t.settings.inputTapeUnderflow.zero %></label>
              </div>
              <div>
              <input type="radio" id="input-tape-underflow-random" name="input-tape-underflow-behavior" value="random" />
              <label for="input-tape-underflow-random"><%= t.settings.inputTapeUnderflow.random %></label>
              </div>
            </fieldset>

            <fieldset>
            <legend><%= t.settings.uninitializedRegisterRead.legend %></legend>
              <div>
              <input type="radio" id="uninitialized-register-read-error" name="uninitialized-register-read-behavior" value="error" />
              <label for="uninitialized-register-read-error"><%= t.settings.uninitializedRegisterRead.error %></label>
              </div>
              <div>
              <input type="radio" id="uninitialized-register-read-zero" name="uninitialized-register-read-behavior" value="zero" />
              <label for="uninitialized-register-read-zero"><%= t.settings.uninitializedRegisterRead.zero %></label>
              </div>
              <div>
              <input type="radio" id="uninitialized-register-read-random" name="uninitialized-register-read-behavior" value="random" />
              <label for="uninitialized-register-read-random"><%= t.settings.uninitializedRegisterRead.random %></label>
              </div>
              <div>
              <input type="radio" id="uninitialized-register-read-superpositionCollapse" name="uninitialized-register-read-behavior" value="superpositionCollapse" />
              <label for="uninitialized-register-read-superpositionCollapse"><%= t.settings.uninitializedRegisterRead.superpositionCollapse %></label>
              </div>
            </fieldset>

            <fieldset>
            <legend><%= t.settings.programCounterOutOfBounds.legend %></legend>
              <div>
              <input type="radio" id="program-counter-out-of-bounds-error" name="program-counter-out-of-bounds-behavior" value="error" />
              <label for="program-counter-out-of-bounds-error"><%= t.settings.programCounterOutOfBounds.error %></label>
              </div>
              <div>
              <input type="radio" id="program-counter-out-of-bounds-actAsHalt" name="program-counter-out-of-bounds-behavior" value="actAsHalt" />
              <label for="program-counter-out-of-bounds-actAsHalt"><%= t.settings.programCounterOutOfBounds.actAsHalt %></label>
              </div>
            </fieldset>
          </div>
          <div>
          <h3><%= t.settings.sections.preferences %></h3>
            <fieldset>
            <legend><%= t.settings.animations.legend %></legend>
              <div>
              <input type="radio" id="animations-enable" name="animations-toggle" value="enable" />
              <label for="animations-enable"><%= t.settings.animations.enable %></label>
              </div>
              <div>
              <input type="radio" id="animations-disable" name="animations-toggle" value="disable" />
              <label for="animations-disable"><%= t.settings.animations.disable %></label>
              </div>
            </fieldset>

          <input type="checkbox" id="monaco-editor-snippets-checkbox" name="monaco-editor-snippets-toggle" checked />
          <label for="monaco-editor-snippets-checkbox"><%= t.settings.monacoEditorSnippets %></label>
          </div>
        </div>
        <div class="settings-footer-buttons">
        <button type="reset"><%= t.settings.reset %></button>
        <button type="submit"><%= t.settings.close %></button>
        </div>
      </form>
    </dialog>

    <dialog id="chart-window">
    <h1><%= t.chartScreen.header %></h1>

      <div id="chart-container">
        <canvas id="chart-canvas"></canvas>
      </div>

      <form id="chart-settings-form">
        <div id="chart-settings-grid">
          <div class="text-align-right">
            <label for="simulation-type-select"><%= t.chartScreen.simulationTypeLabel %></label>
          </div>
          <div class="wide-column">
            <select id="simulation-type-select">
              <option value="valueVariable" selected><%= t.chartScreen.simulationType.valueVariable %></option>
              <option value="lengthVariable"><%= t.chartScreen.simulationType.lengthVariable %></option>
              <option value="sizedArray"><%= t.chartScreen.simulationType.sizedArray %></option>
              <option value="customData"><%= t.chartScreen.simulationType.customData %></option>
            </select>
          </div>
          <div class="text-align-right">
            <label id="input-data-value-label" for="input-data-value-select"><%= t.chartScreen.inputDataValueLabel %></label>
            <label id="input-data-sequence-label" for="input-data-sequence-select"><%= t.chartScreen.inputDataSequenceLabel %></label>
            <label id="input-data-custom-label" for="input-data-custom"><%= t.chartScreen.inputDataCustomLabel %></label>
          </div>
          <div class="wide-column">
            <select id="input-data-value-select">
              <option value="oneValueSingle" selected><%= t.chartScreen.inputDataValue.oneValueSingle %></option>
              <option value="oneValueEndless"><%= t.chartScreen.inputDataValue.oneValueEndless %></option>
            </select>
            <select id="input-data-sequence-select">
              <option value="natural"><%= t.chartScreen.inputDataSequence.natural %></option>
              <option value="positive" selected><%= t.chartScreen.inputDataSequence.positive %></option>
              <option value="negative"><%= t.chartScreen.inputDataSequence.negative %></option>
              <option value="constant"><%= t.chartScreen.inputDataSequence.constant %></option>
              <option value="prime"><%= t.chartScreen.inputDataSequence.prime %></option>
              <option value="composite"><%= t.chartScreen.inputDataSequence.composite %></option>
              <option value="arithmetic"><%= t.chartScreen.inputDataSequence.arithmetic %></option>
              <option value="geometric"><%= t.chartScreen.inputDataSequence.geometric %></option>
              <option value="random"><%= t.chartScreen.inputDataSequence.random %></option>
              <option value="custom"><%= t.chartScreen.inputDataSequence.custom %></option>
            </select>
            <input id="input-data-custom" placeholder="<%= t.chartScreen.inputDataCustomPlaceholder %>" size="50" />
            <label id="input-data-sequence-const-label" for="input-data-sequence-const"><%= t.chartScreen.sequenceConst %></label>
            <input id="input-data-sequence-const" type="number" value="1" size="3" />
            <label id="input-data-sequence-start-label" for="input-data-sequence-start"><%= t.chartScreen.sequenceStart %></label>
            <input id="input-data-sequence-start" type="number" value="2" size="3" />
            <label id="input-data-sequence-step-label" for="input-data-sequence-step"><%= t.chartScreen.sequenceStep %></label>
            <input id="input-data-sequence-step" type="number" value="3" size="3" />
            <label id="input-data-sequence-random-min-label" for="input-data-sequence-random-min"><%= t.chartScreen.randomMinInclusive %></label>
            <input id="input-data-sequence-random-min" type="number" value="1" size="6" />
            <label id="input-data-sequence-random-max-label" for="input-data-sequence-random-max"><%= t.chartScreen.randomMaxExclusive %></label>
            <input id="input-data-sequence-random-max" type="number" value="10000" size="6" />
            <label id="input-data-sequence-custom-label" for="input-data-sequence-custom"><%= t.chartScreen.inputSequenceCustomLabel %></label>
            <input id="input-data-sequence-custom" placeholder="<%= t.chartScreen.sequenceCustomPlaceholder %>" size="50" />
          </div>
          <div class="text-align-right">
            <label for="generate-points-input"><%= t.chartScreen.generateMorePoints %></label>
          </div>
          <div class="wide-column">
            <input type="number" id="generate-points-input" value="5" size="3" />
            <button type="button" id="generate-points-button"><%= t.chartScreen.generate %></button>
          </div>
          <div class="text-align-right">
            <label for="comparison-function-multiplier-input"><%= t.chartScreen.chooseComparisonFunction %></label>
          </div>
          <div class="wide-column">
            <input type="number" id="comparison-function-multiplier-input" value="1" size="3" step="0.1" />
            *
            <select id="comparison-function-select">
              <option value="none" selected><%= t.chartScreen.comparisonFunction.none %></option>
              <option value="constant"><%= t.chartScreen.comparisonFunction.constant %></option>
              <option value="linear"><%= t.chartScreen.comparisonFunction.linear %></option>
              <option value="quadratic"><%= t.chartScreen.comparisonFunction.quadratic %></option>
              <option value="cubic"><%= t.chartScreen.comparisonFunction.cubic %></option>
              <option value="quartic"><%= t.chartScreen.comparisonFunction.quartic %></option>
              <option value="logarithmic"><%= t.chartScreen.comparisonFunction.logarithmic %></option>
              <option value="linearLogarithmic"><%= t.chartScreen.comparisonFunction.linearLogarithmic %></option>
              <option value="quadraticLogarithmic"><%= t.chartScreen.comparisonFunction.quadraticLogarithmic %></option>
            </select>
          </div>
          <div class="text-align-right">
            <label for="execution-timeout-input"><%= t.chartScreen.executionTimeoutInput %></label>
          </div>
          <div class="wide-column">
            <input type="number" id="execution-timeout-input" value="100" size="6" /> <%= t.chartScreen.executionTimeoutInputMs %>
            <input type="checkbox" id="toggle-realtime-axis">
            <label for="toggle-realtime-axis"><%= t.chartScreen.showRealTimeAxis %></label>
          </div>
        </div>
        <div class="chart-form-right-side">
          <div class="input-data-preview-container">
            <span><%= t.chartScreen.inputDataPreview %></span>
            <textarea id="input-data-preview" disabled cols="50" rows="5"></textarea>
          </div>
          <div>
            <button type="reset"><%= t.chartScreen.reset %></button>
            <button type="button" id="clear-chart-button"><%= t.chartScreen.clear %></button>
            <button type="button" id="close-chart-button"><%= t.chartScreen.close %></button>
          </div>
        </div>
      </form>
    </dialog>

    <dialog id="about" popover="auto">
      <div>
        <span><%= t.about.author %> <a href="https://lucjanzak.github.io" target=" _blank">Lucjan Żak</a></span>
        <br>
        <span><%= t.about.license %> <a href="LICENSE.txt" target="_blank">GNU General Public License v3</a></span>
        <br>
        <span><%= t.about.sourceCode %> <a href="https://github.com/lucjanzak/ram-machine" target="_blank">GitHub</a></span>
        <br>
          <span>2026</span>
        <hr>
        <span><%= t.about.externalLibraries %></span>
        <br>
        <a href="https://github.com/microsoft/monaco-editor" target="_blank">monaco-editor</a>
        <span><%= t.about.monacoEditorCredit %></span>
        <a href="https://github.com/microsoft/monaco-editor/blob/main/LICENSE.txt" target="_blank">MIT License</a>
        <br>
        <a href="https://github.com/microsoft/vscode-codicons" target="_blank">vscode-codicons</a>
        <span><%= t.about.vscodeCodiconsCredit %></span>
        <a href="https://github.com/microsoft/vscode-codicons/blob/main/LICENSE" target="_blank">CC-BY 4.0 International</a>
        <br>
        <a href="https://github.com/chartjs/Chart.js" target="_blank">Chart.js</a>
        <span><%= t.about.chartJsCredit %></span>
        <a href="https://github.com/chartjs/Chart.js/blob/master/LICENSE.md" target="_blank">MIT License</a>
        <br>
        <a href="https://github.com/pieroxy/lz-string" target="_blank">lz-string</a>
        <span><%= t.about.lzStringCredit %></span>
        <a href="https://github.com/pieroxy/lz-string/blob/master/LICENSE.md" target="_blank">MIT License</a>
        <hr>
        <button id="close-about-button"><%= t.about.close %></button>
      </div>
    </dialog>
  </body>

</html>